@font-face {
    font-family: "Voltage";
    src: url(../fonts/Voltage-Regular.otf) format("opentype");
    src: url(../fonts/Voltage-Regular.otf) format("truetype");
}

html {
    background-color: #000;
    color: #FFFFFF !important;
    padding: 18px;
    font-family: "Voltage", Verdana !important;
}

body {
    margin: 0px;
    border: 10px transparent solid;
    border-image: url("../img/border.png") 21 stretch;
    -o-border-image: url("../img/border.png") 21 stretch;
    -webkit-border-image: url("../img/border.png") 21 stretch;
    position: relative;
}

h1, h2, h3, h4 {
    text-align: center;
    font-weight: 100;
    margin: 30px 0px 5px 0px;
    color: #FFF;
    font-family: "Voltage", Verdana !important;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 85px;
    margin-bottom: -10px;
}

h3 {
    font-size: 56px;
    margin: 15px 0px 5px 0px;
}

h4 {
    font-size: 32px;
    margin: 0px 0px 20px 0px;
}

#title {
    max-height: 45%;
    max-width: 500px;
    width: 40%;
    margin: 30px auto 0 auto;
}

#logos, #title, #header {
    text-align: center;
    left: auto;
    right: auto;
    display: block;
}

#logos > * > img {
    max-height: 100%;
    max-width: 100%;
    top: auto;
    height: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

#logos {
    bottom: 0;
    align-items: center;
}

.bottom {
    position: absolute;
    bottom: 0;
    width: 100%;
}
.bottom-container {

}

#footer {
    height: 300px;
}

a, a:visited {
    color: #feb729;
}

#carouselFeaturedPhotos {
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

.featuredImage {
    max-height: 720px;
}