@font-face {
	font-family: "Agency FB";
	src: url(../fonts/AGENCYB.TTF) format("truetype");
	src: url(../fonts/AGENCYB.TTF) format("woff");
}

.hidden {
	width: 0px !important;
	visibility: hidden !important;
	border: none !important;
	margin: 0px !important;
}

body {
	width: -webkit-fill-available;
	height: auto;
	color: #FFFFFF;
}

h1 {
	font-family: "Voltage", Verdana;
}

h6 {
	font-size: 22px;
}

#title {
	height: initial;
	margin-bottom: 40px;
}

#register-form {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}

#form-photo {
	width: calc(1.5em + 2px + 0.75rem);
	height: calc(1.5em + 2px + 0.75rem);
	margin-left: auto;
	margin-right: auto;
}

#form-invalid {
	color: #FF0000;
}

input, textarea, select, option {
	margin-bottom: 10px;
	color: #000 !important;
}

label {
	font-size: 28px;
}

.is-invalid {
	background-color: #FFECEC;
}

.debug {
	display: none;
	color: transparent;
	text-size: 0px;
	height: 0px;
}

#re-captcha-- {
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 80px;
	border: 5px solid #F0F0F0;
	background-color: transparent;
	font-family: "Voltage";
	color: #F0F0F0;
	font-size: 36px;
	border-radius: 4px;
	text-shadow: 3px 3px #060606;
	display: block;
}

#re-captcha--:hover {
	border: 5px solid #feb729;
	color: #feb729;
}